* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-pink: #f49bab;
  --color-secondary: #9b7ebd;
  --color-black-main: #000;
  --font-primary: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
}

.form {
  background: var(--color-pink);
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
}
.form h1 {
  font-size: 5rem;
  padding-block: 2rem;
}
.form > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
.form-catfacts h2,
.form-catpics h2 {
  font-size: 2rem;
}
.form-catfacts div,
.form-catpics div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.catnumInput {
  font: inherit;
  padding: 1rem 1rem;
  width: 30rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border-color: transparent;
  border: none;
  text-align: center;
}
.catnumInput::placeholder {
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
  color: var(--color-secondary);
}
.btnsubimt {
  background: var(--color-secondary);
  font: inherit;
  font-size: 2rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
}
.result {
  padding-top: 5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.result-list {
  width: 80%;
}
.result-image-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.result-image-list-containter {
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  width: 30rem;
  height: 50rem;
}
