* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-pink: #f49bab;
  --color-secondary: #9b7ebd;
  --color-black-main: #000;
  --font-primary: "sans-serif";
}

body {
  font-size: 62.5%;
}
